<div class="dog">

  <h1>Please check a Breed</h1>

  <%= select("post", "breed_url", @breed.all.collect{|b| [b.name, b.pic_url]}, {}, :style=>"width:300px") %>

  <%= image_tag @breed[0].pic_url %>

</div>

