// Place all the styles related to the breeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dog {

  width: 500px;
  margin: auto;
  text-align: center;

  @media only screen and (max-width: 600px) {
    width: 80%;
  }

  select{
    margin: 0 100px 30px;

    @media only screen and (max-width: 600px) {
      margin: 0 0 30px;
      width: 200px !important;
    }
  }

  img {
    width: 100%
  }
}
